:root {
  --colorOne: #d5ecf4;
  --colorTwo: #e5efd9;
  --colorThree: #fcf8c0;
  --colorFour: #ebebeb;
  --colorFive: #f4c5c3;
  --colorSix: #e5efd8;
  --colorSeven: #fcf8c0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}
.threeGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header {
  margin-top: 50px;
  margin-bottom: 200px;
}

.header h1 {
  margin-top: 0;
  font-size: 60px;
}

.header .header__column {
  display: flex;
  justify-content: space-around;
}

.header__nav span {
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: underline;
  display: block;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.4);
}

.header__nav li {
  margin-bottom: 10px;
}

.header__nav li:last-child {
  margin-bottom: 0;
}

.grid {
  grid-auto-rows: 30vh;
  grid-gap: 20px;
}

.grid .grid__item {
  background-size: cover;
  background-position: center center;
}
.grid .grid__item:first-child {
  grid-row: span 2;
  background-color: var(--colorOne);
}

.grid .grid__item:nth-child(2) {
  grid-area: span 2 / span 2;
  background-image: url(https://i.pinimg.com/564x/55/a9/d6/55a9d6178f4f60c4399b35bc7072df53.jpg);
}

.grid .grid__item:nth-child(3) {
  background-color: var(--colorTwo);
}

.grid .grid__item:nth-child(4) {
  grid-row: span 2;
  background-image: url(https://i.pinimg.com/564x/46/7a/33/467a336f651877560b525076264d05c9.jpg);
}

.grid .grid__item:nth-child(5) {
  background-color: var(--colorThree);
}

.grid .grid__item:nth-child(6) {
  background-color: var(--colorFour);
}

.grid__item:nth-child(7) {
  background-image: url(https://i.pinimg.com/564x/df/63/d7/df63d73b5bda290c00c74360153d1050.jpg);
}

.grid__item:nth-child(8) {
  grid-area: span 2 / span 2;
  background-color: var(--colorFive);
}

.grid__item:nth-child(9) {
  grid-row: span 2;
  background-image: url(https://i.pinimg.com/564x/0b/eb/8c/0beb8c47b296df165f717cf1c162d8f2.jpg);
}

.grid__item:nth-child(10) {
  grid-area: span 2 / span 2;
  background-image: url(https://i.pinimg.com/564x/17/53/1a/17531aef93fd3ed6734e28072ee1b5ea.jpg);
}

.grid__item:nth-child(11) {
  background-image: url(https://i.pinimg.com/564x/de/88/df/de88df7a034f757c5643853bf7fd0c1d.jpg);
}

.grid__item:nth-child(12) {
  background-image: url(https://i.pinimg.com/564x/62/bf/55/62bf554056d4f924fec7d2ab2effb42a.jpg);
}

.grid__item:nth-child(13) {
  grid-area: span 2 / span 2;
  background-color: var(--colorSix);
}

.grid__item:nth-child(14) {
  background-image: url(https://i.pinimg.com/564x/9b/14/77/9b14775321c51e665e392a5b10a2de70.jpg);
}

.grid__item:nth-child(15) {
  background-color: var(--colorSeven);
}
